body {
  margin: 0px;
  padding: 0px;
  background: #075f07;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(../fonce/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../fonce/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url(../fonce/PlayfairDisplay-BlackItalic.ttf);
}

.contenedor-card {
  width: 400px;
  height: auto;
  background: #fcead4;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.contenedor-card h2 {
  font-family: "PlayfairDisplay-Medium";
  color: #1B1A17;
}

.contenedor-card p {
  font-family: "PlayfairDisplay-Regular";
  color: #1B1A17;
}

.cont-img {
  width: 100%;
  height: 200px;
  background-size: 0;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 160%;
}

#img-veterinario {
  background-image: url(../img/veterinario.jpg);
}

#img-cepillado {
  background-image: url(../img/cepillado.jpg);
}

.btn-card {
  background-color: aqua;
  width: 180px;
  text-align: center;
  padding: 8px;
  border-radius: 08px;
  font-family: PlayfairDisplay-BlackItalic;
  color: #FF1700;
}

.btn-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(14, 180, 42, 0.733);
          box-shadow: 0px 0px 10px rgba(14, 180, 42, 0.733);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}
/*# sourceMappingURL=estilos.css.map */