@import 'variables';

body{
    margin: 0px;    
    padding: 0px;
    background: $color-verde
}
@font-face{
    font-family: "PlayfairDisplay-Regular";
    src: url(../fonce/PlayfairDisplay-Regular.ttf);



}

@font-face{
    font-family: "PlayfairDisplay-Medium";
    src: url(../fonce/PlayfairDisplay-Medium.ttf);

}

@font-face{
    font-family: "PlayfairDisplay-BlackItalic";
    src: url(../fonce/PlayfairDisplay-BlackItalic.ttf);

}
    

.contenedor-card{
    width: 400px;
    height: auto;
    background: rgb(252, 234, 212);
    padding: 10px; 
    margin: 0 auto;
    margin-top: 10px;
    h2{
         font-family: "PlayfairDisplay-Medium";
         color: $color-texto;
    }
    p{  
         font-family: "PlayfairDisplay-Regular";    
         color:$color-texto
    }
}

.cont-img{
    width: 100%;
    height: 200px;
    background-size: 0;
    background-position: center;
    transition: all 1s ease-in-out;
    &:hover{
        background-size: 160%;
    }
}

#img-veterinario{
    background-image: url(../img/veterinario.jpg);
}

#img-cepillado{
    background-image: url(../img/cepillado.jpg)
}

.btn-card{
    background-color: $color-azul;
    width: 180px ;
    text-align: center;
    padding: 8px;
    border-radius: 08px;
    font-family: PlayfairDisplay-BlackItalic;
    color:$color-btn;
    &:hover{
        cursor:pointer;
        box-shadow: 0px 0px 10px rgba(14, 180, 42, 0.733);
    }
}

.text-center{
    text-align: center;
}

.mx-auto{
    margin: 0 auto;
}